# PlatformIO build folders
.pio/
.pioenvs/
.piolibdeps/
.compile

# IDE configuration
.idea/
.vscode/
.gcc-flags.json
.clang_complete

# Test and debug artifacts
*.elf
*.bin
*.hex
*.map
*.pyc
__pycache__/

# OS-specific files
.DS_Store
Thumbs.db

# File backups and swap
*.bak
*.swp
*.swo
*.orig

# Secrets and environment files
.env
include/env.h

# Ignored libraries
lib_ignore
